<div>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <h3>
    <a href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
  </h3>
  <span class="post-meta">{{ post.date | date: date_format }}</span>
  <p>
    {% if post.description %}{{ post.description }} {% else %} {{ post.content | strip_html | strip_newlines | truncate: site.data.env.truncate
    }}&hellip; {% endif %}
    <a href="{{ post.url | relative_url }}">Read More</a>
  </p>
  {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
  {% if post.tags %}
  <small > <a class="tag" href="#">{{ post.tags | join: "</a><a href='#' class='tag'>" }}</a></small>
  {% endif %} 
</div>
