---
layout: default
permalink: /category/ml
---

<div class="home">
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <div>
    {% for post in site.categories.ml %}

    <ul class="post-list">
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}"> {{ post.title | escape }}</a>
        </h3>
        <p>
          {% if post.description %}{{ post.description }} {% else %} {{ post.content | strip_html | strip_newlines | truncate: site.data.env.truncate }}&hellip; {% endif
          %}
          <a href="{{ post.url | relative_url }}">Read More</a>
        </p>
        {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
      </li>
    </ul>
    {% endfor %}
  </div>
</div>
